@use "../../styles//settings/spacing" as s;

@mixin respond($breakpoint) {
  @if ($breakpoint==small) {
    @media (max-width: 576px) {
      @content;
    }
  }
}

.login {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  @include respond(small) {
    width: 80%;
  }
  &-logo {
    margin-bottom: s.$lgx;
  }
  &-sign {
    margin-bottom: s.$lg;
  }
  &-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    &-actions {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      &-button {
        width: 50%;
        margin-bottom: s.$tiny;
        @include respond(small) {
          width: 100%;
        }
      }
      &-link {
        margin-bottom: s.$lg;
      }
    }
  }
  h1 {
    margin: 0;
  }
}
