@use "../../../styles/settings/colors";
@use "../../../styles/settings/spacing" as spacing;
@use "../../../styles/settings/typography";

.content {
  display: flex;
  flex-direction: column;
  margin-bottom: spacing.$lg;
  position: relative;
  &-input {
    position: relative;
    width: 100%;
    &-svg {
      cursor: pointer;
      color: #191919;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 28px;
      transform: translateY(-50%);  
      left: unset;
      right: 18px;
    }
    &-main {
      border: 1px solid colors.$gray-300;
      border-radius: 4px;
      width: 90%;
      padding: 16px 8% 16px 2%;
      background-color: colors.$white;

      color: colors.$gray-800;

      transition: border-color 0.2s ease, box-shadow 0.2s ease;

      &:focus {
        border-color: colors.$gray-500;
        outline: none;
        box-shadow: inset 0 0 0 1px colors.$gray-500;
      }

      &::placeholder {
        color: colors.$gray-800;
      }

      @extend .font-weight-500;
    }

    &-medium {
      padding: spacing.$xs spacing.$xxs;

      padding-left: spacing.$xs;

      @extend .font-size-md;
      @extend .line-height-size-md;
    }

    .small {
      padding: spacing.$tiny;

      @extend .font-size-s;
      @extend .line-height-size-s;
    }

    &-error {
      border-color: colors.$red-fail;
      box-shadow: inset 0 0 0 1px colors.$red-fail;

      &:focus {
        border-color: colors.$red-fail;
        box-shadow: inset 0 0 0 1px colors.$red-fail;
      }
    }
  }

  &-label {
    margin-bottom: spacing.$tiny;
    color: colors.$gray-900;
    @extend .font-size-s;
    @extend .font-weight-700;
  }
  &-invalid {
    color: colors.$red-fail;
    position: absolute;
    top: 108%;
    @extend .font-size-s;
  }
}
