@use "../../../styles/settings/colors" as c;
@import "../../../styles/settings/spacing";

@mixin get-icon-color($color) {
  .container-button-icon {
    * {
      stroke: $color;
    }
  }
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes progress-bar {
  0% {
    width: 0%;
  }

  25% {
    width: 20%;
  }

  65% {
    width: 40%;
  }

  100% {
    width: 100%;
  }
}

.container-button {
  overflow: hidden;

  position: relative;

  border: none;
  border-radius: 8px;
  outline: none;

  background: none;

  cursor: pointer;

  &-text {
    z-index: 2;
  }

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 2;

    &-spinner {
      animation: loading-spinner 1s linear infinite;

      fill: c.$white;
    }
  }

  &-size-l {
    padding: $sm 36px;

    column-gap: $xxs;

    .container-button-icon {
      height: 28px;
      width: 28px;
    }
  }

  &-size-md {
    padding: $xs $l;

    column-gap: $tiny;

    .container-button-icon {
      height: 24px;
      width: 24px;
    }
  }

  &-size-s {
    padding: $xxs $sm;

    column-gap: $tiny;

    .container-button-icon {
      height: 20px;
      width: 20px;
    }
  }

  &-size-xs {
    padding: $tiny $xxs;

    column-gap: calc($tiny / 2);

    .container-button-icon {
      height: 20px;
      width: 20px;
    }
  }

  &-position-left {
    flex-direction: row-reverse;
  }

  &-full-width {
    width: 100%;
  }

  &:focus-visible {
    outline: 2px solid c.$gray-900;
  }

  &-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: c.$red-primary;

    color: c.$white;

    &:disabled {
      background-color: c.$gray-transparent;

      color: c.$dark;
    }
  }

  &-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid c.$gray-transparent;

    background-color: c.$gray-transparent;

    color: c.$dark;

    &:hover {
      background-color: c.$dark;
      color: c.$white;
    }
  }

  &-link {
    color: c.$gray-800;
    padding: 0;
    &:hover {
      color: c.$red-primary;
    }
  }
}
