$gray-primary: #F9F8FF;
$gray-transparent: rgba(202, 202, 214, 0.12);
$gray-300: #E1E1EB;
$gray-500: #e1e1ebc5;
$gray-800: #575768;
$gray-900: #3B3A45;
$white: #FFF;
$dark: #000000;
$red-primary: #B10F36;
$red-fail: #b13451;

// Backgrounds
$bg-primary: $gray-primary;
$gray-text: $gray-900;
