@use "../tools/fontSizeToRem" as fs;
@use "../tools/lineHeightToRem" as lh;
@import "../tools/responsive";

$font-family: "Raleway", sans-serif;
$base-font-size: 16px;
$default-letter-spacing: 1;

// text
$text-sizes-map: (
  2xs: 10,
  xs: 12,
  s: 14,
  md: 16,
  l: 18,
  xl: 20,
  2xl: 24,
  3xl: 30,
  4xl: 36,
  5xl: 48,
  6xl: 64,
);

// line-heights
$line-height-sizes-map: (
  2xs: 16,
  xs: 18,
  s: 20,
  md: 24,
  l: 28,
  xl: 30,
  2xl: 34,
  3xl: 40,
  4xl: 48,
  5xl: 62,
  6xl: 682,
);

// weight
$weights: 100 200 300 400 500 600 700 800 900;

@each $size-name, $size in $text-sizes-map {
  .font-size-#{$size-name} {
    @include fs.font-size-to-rem($size);
  }
}

@each $size-name, $size in $line-height-sizes-map {
  .line-height-size-#{$size-name} {
    @include lh.line-height-to-rem($size);
  }
}

@each $weight in $weights {
  .font-weight-#{$weight} {
    font-weight: $weight;

    @include md(md) {
      font-weight: $weight;
    }
  }
}

// Body sizes
$b500-bold: 500 1.31rem / 1.33 #{$font-family};
$b500-regular: 1.31rem / 1.33 #{$font-family};

// Desktop title sizes
$xl-h500-regular: 5rem / 1.05 #{$font-family};
$xl-h400-regular: 4rem / 1.05 #{$font-family};

// Tablet title sizes
$lg-h500-regular: 4.43rem / 1.12 #{$font-family};
$lg-h400-regular: 3.5rem / 1.14 #{$font-family};

// Mobile title sizes
$sm-h500-regular: 3.18rem / 1.01 #{$font-family};
$sm-h400-regular: 2.62rem / 1.14 #{$font-family};
