html,
body {
  padding: 0;
  margin: 0;
  /* font-family: Helvetica, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  margin: 0px auto;
  position: relative;
}
