@use "./styles/settings/colors" as c;

.containerPage {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: c.$bg-primary;
}
